:root {
    --branco: #ffffff;
    --verde: #199570;
    --verde-claro: #23CB98;
    --preto: #000000;
    --fonte-principal: 'Roboto', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    height: 100vh;
    width: 100vw;
    font-family: var(--fonte-principal);
}
picture{
    height: 40%;
    width: 100%;
    overflow: hidden;
    display: grid;
    place-content: center;
    background-image: url(../img/accounts.png);
    background-size: 200%;
    background-position: center;
    padding: 32px;
}
main{
    background-color: var(--branco);
    border-radius: 40px;
    padding: 32px 24px;
    height: 60%;
    width: 100vw;
    position: relative;
    display: grid;
    gap: 10px;
    top: -15%;
}
.add-img{
    display: flex;
    margin-left: 30%;
    margin-top: -50%;
}
.add-img img{
    width: 111px;
}
.add-img input{
    display: none;
}
.infos-criar{
    display: flex;
    flex-direction: column;
    gap: 150px;
}
.infos{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.i{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.i label{
    color: #C4C4C4;
}
.i input{
    border: none;
    border-bottom: 1px solid #C4C4C4;
    font-size: 16px;
}
input:focus{
    outline-style: none;
}
button{
    width: 300px;
    height: 54px;
    border: none;
    background-color: var(--verde-claro);
    color: var(--branco);
    border-radius: 12px;
}