:root {
    --laranja: #F27706;
    --branco: #ffffff;
    --verde: #199570;
    --verde-claro: #23CB98;
    --vermelho: #F93030;
    --vermelho-hover: #fc3838;
    --cinza: #999999;
    --cinza-claro: #F5F5F5;
    --cinza-comentario: #AEA6A6;
    --cinza-usuario: #C4C4C4;
    --bege: #F4E2D1;
    --gradiente-laranja: linear-gradient(180deg, rgba(252,121,0,0.85) 35%, rgba(252,121,0,0) 100%);
    --gradiente-laranja-desktop: linear-gradient(180deg, rgba(252,121,0,1) 5%, rgba(255,153,60,0.85) 50%, rgba(252,121,0,1) 95%);
    --fonte-principal: 'Roboto', sans-serif;
    --fonte-logo: 'Pattaya', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    height: 100vh;
    width: 100vw;
    background-image: var(--gradiente-laranja);
    font-family: var(--fonte-principal);
}
header{
    height: 150px;
    padding: 24px;
    color: var(--branco);
}
.header-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 12px;
}
input{
    border: none;
    background-color: var(--branco);
    width: 316px;
    height: 49px;
    border-radius: 12px;
    position: relative;
}
::placeholder{
    color: var(--cinza);
    font-family: var(--fonte-principal);
    font-size: 12px;
    padding: 10px;
}
header .material-symbols-outlined{
    z-index: 2;
    position: absolute;
    top: 12%;
    right: 8%;
    color: var(--cinza);
}
.introducao{
    display: flex;
    flex-direction: column;
}
.dia{
    font-size: 14px;
}
h1{
    font-size: 22px;
}
.icon{
    width: 48px;
    height: 48px;
    border-radius: 50px;
}
main{
    height: 1fr;
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    gap: 20px;
}
.cat, .fav, .rec, .be{
    color: var(--branco);
    font-size: 15px;
    font-weight: 600;
    text-shadow: 4px 2px 2px rgba(61, 54, 54, 0.8);
}
.blocos{
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding: 12px 12px 12px 0px;
}
.bloco{
    width: 48px;
    height: 48px;
    display: flex;
    background-color: var(--vermelho);
    border-radius: 12px;
    align-items: center;
    justify-content: center;
}
.bloco img{
    width: 24px;
    height: 24px;
}
.favoritas, .recomendados{
    display: flex;
    flex-direction: column;
}
.container-favs, .container-recomendado{
    display: flex;
}
.favorita{
    width: 150px;
    height: 100px;
    background-image: url(../img/pizza1.png);
    display: flex;
    flex-direction: column;
    place-content: end;
    gap: 10px;
}
.pizza{
    width: 175px;
    height: 115px;
    background-image: url(../img/pizza-rec.png);
    display: flex;
    flex-direction: column;
    place-content: end;
    gap: 10px;
}
.descricao-recomendados{
    color: var(--branco);
    font-size: 12px;
    font-weight: 600;
    text-shadow: 4px 2px 2px rgba(61, 54, 54, 0.8);
}
.valor, .valor-bebida{
    width: 57px;
    height: 20px;
    border-radius: 12px;
    background-color: var(--vermelho);
    color: var(--branco);
    font-size: 12px;
    text-align: center;
}
.nome-favs{
    color: var(--branco);
    font-weight: 400;
    font-size: 12px;
    width: 102px;
    height: 28px;
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
    width: 112px;
    height: 36px;
}
.bebidas{
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow: hidden;
}
.container-bebida{
    width: 315px;
    height: 69px;
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-content: center;
    border-radius: 12px;
    padding: 4px;
}
.coca{
    width: 42px;
    height: 56px;
}
.infos-bebida{
    width: 180px;
    place-self: center;
}
.valor-bebida{
    place-self: end;
}
.nome{
    font-weight: 600;
}
.descricao{
    color: var(--cinza);
}
footer{
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    place-self: end;
    position: sticky;
    bottom: 0;
    color: var(--branco);
    background-color: var(--laranja);
    padding: 24px 24px 16px 24px;
}
.bebida-footer, .perfil, .sobremesas{
    display: flex;
    flex-direction: column;
    align-items: center;
}